<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Almost done! Please wait... 🐻</string>
	<string>Finishing...</string>
	<string>Finishing...</string>
	<string>Finishing...</string>
	<string>Hopefully I didn&apos;t mess up the export to GIF... 🙊</string>
	<string>Please, be patient! 🙏</string>
	<string>Please, be patient...</string>
	<string>To infinity and beyond!</string>
	<string>👽👽👽 ayy lmao</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Loading...</string>
	<string>Converting...</string>
	<string>Converting...</string>
	<string>All your base are belong to us.</string>
	<string>ANOTHER ONE.</string>
</array>
</plist>
